<div class="createroomdiv">
<table>
	<tr>
		<td class="right">Название:</td>
		<td><input type="text" id="cr-caption"></td>
	</tr>
	<tr>
		<td class="right">Тема комнаты:</td>
		<td><input type="text" id="cr-topic"></td>
	</tr>
	<tr>
		<td class="right">Скрытая:</td>
		<td><input type="checkbox" id="cr-hidden" /></td>
	</tr>
</table>
<div>
	Скрытая комната не появляется в списке комнат, другие пользователи могут зайти в нее только по приглашению.
	Вы становетесь владельцем комнаты и получаете права администратора в ней. Вы можете удалить комнату в любой момент
</div>
<input type="button" class="btn" id="cr-create" value="Создать">
</div>