<div class="room-pane" id="{type}-{name}" style="display: none;">
	<div class="roster-pane rp"></div>
	<div class="message-pane-wrapper mpw">
		<dl class="message-pane mp">
			<div class="more-history">Загрузить предыдущие сообщения</div>
		</dl>
	</div>
	<div class="message-form-wrapper"></div>
	<form method="post" class="message-form">
		<textarea name="message" class="field messageinput"></textarea>
		<input type="button" class="btn send" value="Отправить"/>
		<div class="uploadImage" title="Загрузить картинку"></div>
	</form>
</div>