.reconnection-panel{
    display: none;
}
.replace-connect-panel{
    display: none;
}
.reconnection-panel .background, .replace-connect-panel .background{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0.7;
    z-index: 999;
}

.reconnection-panel .connect-info, .replace-connect-panel .connect-info{
    padding: 40px;
    z-index: 1000;
    background-color: #dfdfdf;
    position: absolute;
    left: 0;
    right: 0;
    top: 100px;
    text-align: center;
}
.bold{
    font-weight: bold;
}
.reconnection-panel .connect-info .icon{
    text-align: center;
}
.reconnection-panel .connect-info .icon img{
    width: 190px;
}