<div style="text-align:center;margin:20px 100px"><img src="img/kick.jpg" alt=""/>
    <p>Уважаемый пользователь, Вас выпнули (кикнули) из этой комнаты. Это сделал модератор у которого, скорее всего,
        были для этого веские причины.</p>
    <p><b>НАПОМИНАЕМ ВАМ о <a target="_blank"
                              href="https://github.com/redspirit/hitagi-client/wiki/%D0%9F%D1%80%D0%B0%D0%B2%D0%B8%D0%BB%D0%B0-%D1%87%D0%B0%D1%82%D0%B0">ПРАВИЛАХ</a>
        чата!</b></p>
    <p>Если Ваше отношение к чату и его пользователям не изменится в лучшую сторону, то дело может дойти акта банного
        изгнания.</p></div>