<table id="proftabl">
    <tr>
        <td>Реальное имя:</td>
        <td><input type="text" id="pr_realname"/></td>
    </tr>
    <tr>
        <td>Пол:</td>
        <td><select id="pr_gender">
            <option value="0">Не указан</option>
            <option value="1">Мальчик</option>
            <option value="2">Девочка</option>
        </select></td>
    </tr>
    <!--<tr>-->
        <!--<td>День рождения:</td>-->
        <!--<td><input type="text" id="pr_birthday"/></td>-->
    <!--</tr>-->
    <tr>
        <td>Страна:</td>
        <td><input type="text" id="pr_country"/></td>
    </tr>
    <tr>
        <td>E-mail:</td>
        <td><input type="text" id="pr_email"/></td>
    </tr>
    <tr>
        <td>ВКонтакте:</td>
        <td><input type="text" id="pr_vk"/></td>
    </tr>
    <tr>
        <td>Видимость профиля:</td>
        <td><select id="pr_vis">
            <option value="0">Видно всем</option>
            <option value="1">Только зарег.</option>
            <option value="2">Скрыто</option>
        </select></td>
    </tr>
</table>
<div align="center"><a class="btn" id="prof_save">Сохранить</a></div>
<div class="profile-footer">
    <a class="change-nick">Изменить ник</a>
    <a class="change-avatar">Изменить аватарку</a>
</div>