<div class="room-pane" id="{type}-{name}" style="display: none;">
    <div class="main-menu">
        <div class="menu-tools">
            <i class="fa fa-star-half-o" id="stateBtn"></i>
            <i class="fa fa-commenting" id="statusBtn"></i>
            <i class="fa fa-bell" id="soundBtn"></i>
            <i class="fa fa-chevron-right to-back"></i>
        </div>
        <div class="roster-pane rp"></div>
        <div class="roster-footer">
            <div class="to-profile"><i class="fa fa-address-card-o"></i> профиль</div>
            <div class="to-logout "><i class="fa fa-sign-out"></i> выйти</div>
        </div>
    </div>
    <div class="message-pane-wrapper mpw">
        <dl class="message-pane mp">
            <div class="more-history">Загрузить предыдущие сообщения</div>
        </dl>
    </div>
    <div class="message-form-wrapper"></div>
    <form method="post" class="message-form">
        <input type="text" placeholder="Сообщение..." name="message" class="field messageinput"/>
        <i class="send send-text fa fa-paper-plane-o" style="display: none"></i>
        <i class="send send-file fa fa-paperclip"></i>
    </form>
</div>
